body{
    background-color:darkgrey;
}

div#infoJuego{
    background-color:lightgrey;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.jugador-actual {
    font-weight: bold;
    color: #007bff;
    background-color: #f0f8ff;
    padding: 4px;
    border-radius: 6px;
}
.jugador-ganador {
    color: red;
    font-weight: bold;
}